# This file contains common pin mappings for the BIGTREETECH SKR
# MINI 2.0. To use this config, the firmware should be compiled for 
# the STM32F103 with a "28KiB bootloader". Also select "enable extra 
# low-level configuration options" and configure "GPIO pins to set 
# at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini with that SD card.

[include mainsail.cfg]

# Uncomment after installed rpi2040 via USB to test acceleration
#[include printer.pi-pico.cfg]

[mcu]
# BTT SKR Mini E3 V2.0
# https://github.com/bigtreetech/BIGTREETECH-SKR-mini-E3
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_31FFDB053031543929791643-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 15000 # Max is 17000, but this is rough on the printer
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800

# Allow excluding objects in a print
[exclude_object]

# Configuration of steppers
[include printer.axis.cfg]

# All fans
[include printer.fans.cfg]

# All heaters
[include printer.heaters.cfg]

# All temperature sensors
[include printer.temp-sensors.cfg]

# Z-homing / bed leveling
[include printer.homing.cfg]

# All macros
[include printer.macros.cfg]

