#[adxl345]
#cs_pin: ebb36: PB12
#spi_bus: spi2
#spi_software_sclk_pin: ebb36: PB10
#spi_software_mosi_pin: ebb36: PB11
#spi_software_miso_pin: ebb36: PB2
#axes_map: x,y,z

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    175,180,20
    

[include klicky-probe.cfg]

[gcode_macro _HOME_X]
gcode:
  G4 P2000       ; Wait 2 seconds for StallGuard to reset
  G28 X0         ; home X initial
  G1 X175 F6000  ; Move X to "middle"

[gcode_macro _HOME_Y]
gcode:
  G4 P2000       ; Wait 2 seconds for StallGuard to reset
  G28 Y0         ; home Y initial
  G1 Y180 F6000  ; Move Y to "middle"

[probe]
pin: ~!PB6
x_offset: 0
y_offset: 25.0
z_offset: 1.000
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 0.5
lift_speed: 30
samples_tolerance: 0.005 # step height is 0.00125, allow 8 steps of error
samples_tolerance_retries: 20

[quad_gantry_level]
gantry_corners:
   -60,-55
   410,375
points:
  325,300
  325,0
  25,0
  25,300
speed: 500
horizontal_move_z: 16 # Allows for +10mm offset from center 
retries: 5
retry_tolerance: 0.02 # allow double of our probe tolerance
max_adjust: 15


[bed_mesh]
speed: 500
horizontal_move_z: 10
mesh_min: 25, 35
mesh_max: 330,320
fade_start: 0.6
fade_end: 10.0
probe_count: 7,7 # Values should be odd, so one point is directly at bed center
algorithm: bicubic
relative_reference_index: 24 # Update when changing probe_count, to ((x points * y points) - 1) / 2. (the center point)
